<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4">Air Quality</h1>
      <hr>
      <form #f="ngForm" (ngSubmit)="getAirQuality(f.value.countryName)">
        <div class="input-group">
          <input class="form-control mb-3" type="text" placeholder="Enter name of the country, city, etc..." ngModel name="countryName">
        </div>
          <button class="btn btn-primary" type="submit">Get Air Quality</button>
      </form>
      <div *ngIf="airQualityError" class="alert alert-warning mt-4" role="alert">
        {{ airQualityError }}
      </div>
      <div *ngIf="geolocationError" class="alert alert-warning mt-4" role="alert">
        {{ geolocationError }}
      </div>
      <div *ngIf="airQualityData && !(airQualityError || geolocationError)" class="mt-4 p-4 bg-light" [ngClass]="{
        'border-green': Math.floor(airQualityData.indexes[0].aqi / 20) + 1 === 5,
        'border-yellowgreen': Math.floor(airQualityData.indexes[0].aqi / 20) + 1 === 4,
        'border-orange': Math.floor(airQualityData.indexes[0].aqi / 20) + 1 === 3,
        'border-red': Math.floor(airQualityData.indexes[0].aqi / 20) + 1 === 2,
        'border-purple': Math.floor(airQualityData.indexes[0].aqi / 20) + 1 === 1
      }">
        <h2>Air Quality in {{ countryName }}</h2>
        <p>Air Pollution Index: {{ airQualityData.indexes[0].aqi }} / 100</p>
        <p>Air Quality Category: {{ airQualityData.indexes[0].category }}</p>
        <p>Dominant Pollutant: {{ airQualityData.indexes[0].dominantPollutant }}</p>
      </div>
    </div>
  </div>
</div>
